@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
/* font-family: "JetBrains Mono", monospace; */
@import url('https://fonts.googleapis.com/css2?family=Anta&display=swap')
/*   font-family: "Anta", sans-serif; */
;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: "JetBrains Mono", monospace;

}

html {
    font-size: 60%;
    overflow-x: hidden;
}

:root {
    --cor-tema: #080808;
    --cor-secundaria: #131313;
    --cor-de-texto: #ffffff;
    --cor-principal: #00ffee;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 4rem 5% 4rem;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 5;

}

.logo {
    font-size: 3rem;
    color: var(--cor-de-texto);
    font-weight: 800;
    cursor: pointer;
    transition: 0.3 ease;
    text-shadow: 0 0 25px var(--cor-principal)
}

.logo:hover {
    transform: scale(1.1);
    transition: 1s;
}

.navbar {
    display: flex;
    width: 100%;
    justify-content: center;
    padding-right: 12%;
}

.navbar a {
    font-size: 1.8rem;
    color: var(--cor-de-texto);
    margin: 0 2%;
    font-weight: 500;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
}

.navbar a:hover,

.navbar a.active {
    color: var(--cor-principal);
    border-bottom: 3px solid var(--cor-principal);
}

body {
    background-color: var(--cor-tema);
    color: var(--cor-de-texto);
}

#menu-icon {
    font-size: 3.6rem;
    color: var(--cor-principal);
    display: none;
}





#home {
    display: grid;
    grid-template-columns: 60% 40%;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;

}


.home-esquerda {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 10%;
    width: 65%;
    height: 40%;
}

.home-esquerda-titulo {
    font-family: "JetBrains Mono", monospace;
    font-size: 4.95rem;
    font-weight: bolder;
    text-align: left;
    margin: 3% 0;
    text-transform: uppercase;
    background: linear-gradient(to right, #01554f, #00ffee, #01554f);
    background-size: 400% 100%;
    animation: destaque 4s ease-in-out infinite alternate;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.home-esquerda-subtitulo {
    display: flex;
    padding-right: 65%;
    font-size: 2.5rem;
    color: var(--cor-principal);
    text-shadow: 0 0 25px var(--cor-de-texto)
}

@keyframes destaque {
    0% {
        background-position-x: 0%;
    }

    100% {
        background-position-x: 400%;
    }

}

.home-esquerda-paragrafo {
    font-size: 2rem;
    color: var(--cor-de-texto);
    margin: 3% 0;
}

.home-contatos {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5%;
    width: 100%;
    height: 20%;
}



.icone {
    border-radius: 100%;
    font-size: 4rem;
    color: var(--cor-de-texto);
    text-shadow: 0 0 30px var(--cor-de-texto);
    padding: 20%;
}

.icone:hover {
    border-radius: 100%;
    border: 2px solid var(--cor-principal);
    font-size: 4rem;
    color: var(--cor-principal);
    text-shadow: 0 0 60px var(--cor-de-texto);
    padding: 20%;
}

.home-direita-foto {
    border-radius: 100%;
    box-shadow: 0 0 50px var(--cor-principal);
    transition: 0.4 ease-in-out;
}




/*---------------------- SOBRE MIM ----------------------*/


#sobre {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}


.sobre-mim-titulo {
    width: 9%;
    font-size: 3rem;
    padding: 0.5% 0;
    border-bottom: 3px solid #00ffee;
    margin-left: 10%;
    color: var(--cor-de-texto);
    text-shadow: 0 0 30px var(--cor-principal);
    text-transform: uppercase;
}

.sobre-mim-p {
    padding: 2%;
    margin: 5%;
    width: 80%;
    height: 50%;
    border-radius: 10px;
    border: 3px solid var(--cor-secundaria);
}

.sobre-mim-paragrafo {
    margin: 4% 5%;
    font-size: 2rem;
}


/*---------------------- CERTIFICADOS ----------------------*/



#certificados {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    align-items: center;

    background-color: var(--cor-de-texto);
    color: var(--cor-secundaria);
}

.certificados-titulo{
    margin-top: 3.5%;
    padding-bottom: 0.75%;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    align-items: center;
    font-size: 3rem;
    font-weight: bolder;
    text-transform: uppercase;
    border-bottom: 5px solid var(--cor-secundaria);
}


.certificados-lista{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    margin-left: 5%;
    gap: 2%;
}

.botao-certificado{
    display: flex;
    background-color: var(--cor-secundaria);
    color: var(--cor-de-texto);
    width: 45%;
    text-align: center;
    
    font-size: 2rem;
    padding: 1%;
    border-radius: 10px;
}

.botao-certificado:hover{
    background-color: var(--cor-de-texto);
    color: var(--cor-secundaria);
    border: 2px solid var(--cor-secundaria);
    padding: 3%;
    transition: 1.3s;
    transition-behavior: 1s;
}


/*---------------------- HABILIDADES ----------------------*/

#habilidades {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem;
    font-weight: bolder;
}

.habilidades-titulo {
    font-size: 2rem;
    text-transform: uppercase;
    text-align: center;
}

.skills {
    width: 60%;
    height: 60%;
    padding: 3%;
    color: var(--cor-tema);
    background-color: var(--cor-de-texto);
    box-shadow: 0 0 50px var(--cor-principal);
    font-size: 2rem;
    padding: 1.5% 3% 3% 3%;
}

.skills ul {
    list-style: none;
}

.skills ul li {
    margin: 4% 0;
}

.skills ul li h3 {
    display: flex;
    align-items: center;
    font-size: 2.3rem;
}




.skills .barras {
    background-color: #ccc;
    display: block;
    height: 20px;
    position: relative;
    overflow: hidden;
    transition: .5s ease-in-out;
}

.barras>span {
    height: 20px;
    background: linear-gradient(to right, #007a72, #00ffee);
    position: absolute;
}


.html {
    width: 65%;
    animation: html 1.5s;
}

@keyframes html {
    0% {
        width: 0%;
    }

    100% {
        width: 65%;
    }
}

.css {
    width: 75%;
    animation: css 1.5s;
}

@keyframes css {
    0% {
        width: 0%;
    }

    100% {
        width: 75%;
    }
}

.javascript {
    width: 40%;
    animation: javascript 1.5s;
}

@keyframes javascript {
    0% {
        width: 0%;
    }

    100% {
        width: 40%;
    }
}

.react {
    width: 55%;
    animation: react 1.5s;
}

@keyframes react {
    0% {
        width: 0%;
    }

    100% {
        width: 55%;
    }
}

.angular {
    width: 75%;
    animation: angular 1.5s;
}

@keyframes angular {
    0% {
        width: 0%;
    }

    100% {
        width: 50%;
    }
}




/*---------------------- INFORMAÇÃO ----------------------*/




#informacao {
    display: grid;
    grid-template-columns: 65% 35%;
    width: 100%;
    height: 75vh;
}


.informacao-esquerda {

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10%;
    margin: 5% 0 0 0;


}

.informacao-esquerda-cont {
    height: 40vh;
    padding: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--cor-secundaria);
}

.informacao-esquerda-titulo {
    font-size: 3rem;
    text-transform: uppercase;
    border-bottom: 3px solid #00ffee;
}

.informacao-esquerda-info {
    font-size: 2rem;
    text-transform: uppercase;
}

.informacao-icones {
    margin-top: 5%;
    display: flex;
    width: 100%;
    height: 50%;
    align-items: center;
    justify-content: center;
    font-size: 5rem;
    gap: 10%;
    color: var(--cor-de-texto);
}

.icone-contato {
    color: var(--cor-de-texto);
}

.icone-contato:hover {
    box-shadow: 0 0 12px var(--cor-principal);
}



.informacao-direita {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

}

.informacao-direita-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--cor-secundaria);
    width: 65%;
    height: 80%;
    gap: 10%;
}

.informacao-direita-titulo {
    font-size: 3rem;
    text-transform: uppercase;
    border-bottom: 3px solid var(--cor-principal);
    color: var(--cor-de-texto);
    margin-bottom: 7%;
}

.imagem-qr {
    width: 50%;
    box-shadow: 0 0 30px var(--cor-principal);
}

.git-qr{
    display: flex;
    align-items: center;
    justify-content: center;
}




@media screen and (max-width:720px) {

    /*---------- CABECALHO  ------------*/
    header {
        display: none;
    }

    main {
        margin: 0;
    }

    #home {
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
        gap: 15%;
    }

    .home-esquerda {
        display: flex;
        flex-direction: column;
        align-items: start;
        margin: 0;
        gap: 5%;
    }

    .home-esquerda-titulo {
        margin-top: 5%;
        margin-bottom: 10%;
        font-size: 2.5rem;
        text-align: center;
    }


    .home-esquerda-subtitulo {
        font-size: 1.5rem;
        height: 100%;
        padding: 0;
    }

    .home-direita {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .home-direita-foto {
        width: 50%;
    }

    
    .home-contatos{
        display: none;
    }






    #sobre{
        margin-top: 30%;
        display: flex;
        flex-direction: column;
    }

    .sobre-mim-titulo{
        width: 50%;
    }

    .sobre-mim-paragrafo{
        font-size: 1.5rem;
    }





    .skills{
        width: 75%;
        padding: 10%;
        border-radius: 5px;
    }



    .habilidades-titulo{
        font-size: 2rem;
        margin-top: 10%;
        margin-bottom: 20%;
    }


    .skills ul li h3{
        font-size: 1.7rem;
    }


    .bx{
        font-size: 1.7rem;
    }



    .skills .barras{
        height: 15px;
        border-radius: 50px;
    }




    #informacao{
        display: flex;
        flex-direction: column;
    }


    .informacao-direita{
        display: none;
    }


    .informacao-esquerda-info{
        font-size: 1.5rem;
    }


    .informacao-icones a{
        width: 100%;
        display: flex;
    }

    .informacao-icones i{
        width: 100%;
        display: flex;
        font-size: 3rem;
    }


    
}